@using RidersApp.ViewModels
@model IEnumerable<CityVM>

<table id="citiesTable" class="table table-dark table-striped table-hover datatable">
    <thead>
        <tr>
            <th>City Name</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CityName</td>
                <td>@item.PostalCode</td>
                <td>@item.CountryName</td>
                <td>
                    <div class="btn-action-container">
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "Cities", new { id = item.CityId })', 'Edit City')" 
                           class="btn-action-edit" title="Edit City">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a onclick="deleteRecord('Cities', @item.CityId)" 
                           class="btn-action-delete" title="Delete City">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
